
/* ================== */
/* ==== PROGRESS ==== */
/* ================== */

.progress-navigation{
    
}

.progress-navigation li{
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
}

/* ================== */
/* ==== PROGRESS ==== */
/* ================== */